<div class="row justify-content-center">
  <div class="col-12">
    <div class="card card-profile shadow mt-3">
      <div class="card-body px-3 pb-0">
        <div class="row pb-2">
          <div class="col-auto media align-items-center">
            <div [routerLink]="['/perfil/', publication.userId]"
              [style.background-image]="'url('+ this.utilitiesString.getImage(publication?.userPhoto, 'perfil') +')'"
              class="cursor img img-perfil-public">
            </div>
          </div>
          <div class="col px-1 px-lg-0 media-body d-lg-block">
            <span [routerLink]="['/perfil/', publication.userId]"
              class="mb-0 text-sm font-weight-bold cursor">{{publication?.userName}}
            </span>
            <span *ngIf="publication?.commId !== null">
              <em class="bi bi-caret-right"></em>
              <span [routerLink]="['/usuarios/comunidad', this.publication.commId]"
                class="mb-0 text-sm font-weight-bold cursor">{{publication?.commName}}</span>
            </span>
            <div class="col-12 p-0">
              <button (click)="privacy.toggle($event)" *ngIf="this.user.id === this.publication?.userId"
                class="btn-privacy p-0 mr-2" icon="{{this.publication.publPrivacy ? 'bi bi-lock': 'bi bi-globe'}}"
                pButton type="button"></button>
              <p-menu #privacy [hideTransitionOptions]="'0ms'" [model]="privacyOptions" [popup]="true"
                class="p-menu-float">
              </p-menu>
              <em *ngIf="this.user.id !== this.publication.userId" class="btn-privacy p-0 mr-2 bi bi-globe"></em>
              <span class="mb-0 text-sm">{{publication?.createdDate}}</span>
              <span *ngIf="!publication?.publStandard"
                class="content-chip chip-category-publication mr-2 ml-2">Pregunta</span>
              <span *ngIf="publication?.cateId !== null"
                class="content-chip chip-category-publication mr-2 ml-2">{{publication?.cateName}}</span>
              <img *ngIf="publication?.publProject.title"
                pTooltip="Esta publicación esta relacionada a un proyecto del autor, da click en el título para conocer más."
                tooltipPosition="top" alt="bombilla de proyecto" src="assets/img/brand/lightbulb.svg" />
            </div>
          </div>
          <div class="col-auto">
            <button (click)="menu.toggle($event)" *ngIf="editButton && items?.length > 0" class="btn-ico-user"
              icon="pi pi-ellipsis-h" pButton type="button"></button>
            <p-menu #menu [hideTransitionOptions]="'0ms'" [model]="items" [popup]="true" [showTransitionOptions]="'0ms'"
              class="p-menu-float">
            </p-menu>
          </div>
        </div>
      </div>

      <div class="card-body p-3 pt-md-0 pb-md-0 mt-2">
        <h3 (click)="goToPublication()" class="cursor justifyText mb-2 text-header">{{publication?.publTitle}}</h3>
        <div class="row pl-3 pr-3">
          <p [innerHTML]="this.publDescription" class="keep-format-text"></p>
        </div>
        <div class="row pl-3 pr-3">
          <p (click)="seeDescription()" class="text-sm see-more-less" id="element">{{labelSeeDescription}}</p>
        </div>
        <div *ngFor="let author of publication.publAuthors" class="content-chip my-3 mr-2">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <div (click)="seeProfile(author.id)"
                [style.background-image]="'url('+ this.utilitiesString.getImage(author?.authorPhoto, 'perfil') +')'"
                class="{{author?.id ? 'cursor' : ''}} img img-user-public">
              </div>
            </span>
            <div class="media-body ml-1">
              <h5 (mouseover)="utilitiesString.seeTooltipText($event, author?.authorName.length)"
                (click)="seeProfile(author.id)" [tooltipDisabled]="utilitiesString.activeTooltip"
                pTooltip="{{ author?.authorName }}"
                class="{{author?.id ? 'cursor' : ''}} chip-text-author mb-0 card-round-author" tooltipPosition="top">{{
                author?.authorName }}</h5>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="publication?.publAttachments.length > 0">
        <div *ngFor="let attachment of publication?.publAttachments" class="card-body p-3 pt-md-0 pb-md-0 mt-3">
          <div class="row justify-content-center" *ngIf="attachment.fileType==='video/mp4'">
            <div class="col-12">
              <video style="height: 100%; width: 100%;" controls>
                <source [src]="this.utilitiesString.getImage(attachment.id)" type="video/mp4">
                <track default kind="captions" label="Español" src="" srclang="es">
              </video>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="attachment.fileType==='image/png'">
            <div class="col-12">
              <figure>
                <img class="publication-image" [src]="this.utilitiesString.getImage(attachment.id)" alt="...">
              </figure>

            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-3 pt-md-3">
        <div class="row justify-content-between">
          <div class="col-auto">
            <span *ngIf="this.publAmountInterest===1" class="mb-0 text-sm"><em
                class="bi bi-hand-thumbs-up-fill color-icon-fill"></em>{{this.publAmountInterest}} </span>
            <span *ngIf="this.publAmountInterest>1" class="mb-0"><em
                class="bi bi-hand-thumbs-up-fill color-icon-fill"></em>{{this.publAmountInterest}} </span>
          </div>
          <div class="col-auto">
            <span *ngIf="publication?.publComment.length === 1" class="mb-0 text-sm">{{publication?.publComment.length}}
              comentario </span>
            <span *ngIf="publication?.publComment.length > 1" class="mb-0 text-sm">{{publication?.publComment.length}}
              comentarios </span>
            <span *ngIf="this.publAmountShared === 1" class="mb-0 text-sm"><strong
                *ngIf="publication?.publComment.length !==0">·</strong> {{this.publAmountShared}} vez compartido</span>
            <span *ngIf="this.publAmountShared > 1" class="mb-0 text-sm"><strong
                *ngIf="publication?.publComment.length !==0">·</strong> {{this.publAmountShared}} veces compartido
            </span>
          </div>

        </div>
        <div class="row mt-2 p-2 line line-top custom-justify-evenly">
          <div class="col-auto">
            <button class="btn-text-hidden" (click)="interactWithThePublication()" [disabled]="isLoadingInterest"
              [ngClass]="this.interestEvent" icon="bi bi-{{interest}}" label="Me interesa" pButton pRipple
              type="button"></button>
          </div>
          <div class="col-auto">
            <button class="center btn-text-hidden" icon="pi pi-comments" label="Comentar" pButton pRipple type="button"
              (click)="doFocus()"></button>
          </div>
          <div class="col-auto ">
            <button (click)="menuShared.toggle($event)" class="center btn-footer-public btn-text-hidden"
              icon="pi pi-reply" label="Compartir" pButton pRipple type="button"></button>
            <p-menu #menuShared [hideTransitionOptions]="'0ms'" [model]="shareOptions" [popup]="true"
              [showTransitionOptions]="'0ms'" class="p-menu-float">
            </p-menu>
          </div>
        </div>
        <div class="row pt-3 align-items-center">
          <div class="col-auto pr-2">
            <div [style.background-image]="'url('+ this.utilitiesString.getImage(this.user?.userPhoto, 'perfil') +')'"
              class="img img-user-pub">
            </div>
          </div>
          <div class="col pl-0">
            <textarea (blur)="focus = false" (focus)="true" (keydown.enter)="createComment()" [(ngModel)]="publComment"
                      autoResize="autoResize" class="input-comment" id="input_comment-{{publication.id}}" pInputTextarea
                      placeholder="Escribe tu comentario" rows="1" style="height: 50px;" #htmlInputElement></textarea>
          </div>
        </div>
        <div *ngIf="this.publication?.publComment.length > 0 " class="col-12 p-0">
          <app-card-comment *ngFor="let comment of this.publication?.publComment" [comment]="comment"
            [publication]="publication" class="col-12 pl-md-5 content-inco"></app-card-comment>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-edit-publication #modalCreateEditPublication [showCreateEditButton]="false"
  (updatePublication)="updatePublication($event)"></app-create-edit-publication>

<p-dialog [(visible)]="this.displayUserShare" [blockScroll]="this.utilitiesString.blockScroll"
          [dismissableMask]="this.utilitiesString.dismissableMask" [draggable]="false" [maximizable]="false" [minY]="70"
          [modal]="this.utilitiesString.modal" [style]="{ width: '582px', minWidth: '450px' }"
          header="Enviar por {{this.wayToShare}}" id="userShareDialog">

  <div class="row p-2">
    <div class="col-12 justify-content-center" *ngIf="isLoading">
      <div class="card">
        <div class="m-2">
          <div class="row align-items-center">
            <div class="pl-3 media align-items-center">
              <div class="skeleton-round"></div>
            </div>
            <div class="col-7 pl-0 media-body ml-2 d-lg-block">
              <div class="skeleton-right-angled mb-1"></div>
            </div>
            <div class="col-2 al-center p-0 d-lg-block m-auto">
              <div class="skeleton-button-small p-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="!isLoading && this.followedUsers.length===0">
      <div class="card-body pt-0 pt-md-3 pb-md-0">
        <div class="row pb-3">
          <div class="align-content-lg-center">
            <div class="user m-auto">
            </div>
            <h2 class="m-0 p-0 col-12 text-header">No tienes personas seguidas a quienes
              compartir la publicación.</h2>
            <h4 class="m-0 p-0 col-12">Aquí aparecerán las personas que sigues, para que compartas la publicación
              con ellas.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-card-user-share-publication (emitPublAmountShared)="updateAmountShared()"
                                   *ngFor="let followedUser of this.followedUsers" [followedUser]="followedUser"
                                   [wayToShare]="this.wayToShare"
                                   [publication]="publication"></app-card-user-share-publication>
</p-dialog>
