<p-dialog [(visible)]="display" [blockScroll]="true" [draggable]="false"
          [dismissableMask]="true" [maximizable]="false" [minY]="70"
          [modal]="true" [styleClass]="'col-11 col-md-8 col-lg-7 col-xl-5 col-sm-11'"
          [style]="{maxWidth: '60rem'}">
  <p-header>
    <h2 class="title-dialog">Cambiar contraseña</h2>
  </p-header>
  <div class="pr-4 pl-4">
    <div>Para mayor seguridad cambie su contraseña por una más segura, con una longitud mínima de 8 caracteres.
      Recuerde que esta debe contener al menos una mayúscula, minúsculas, números y al menos un caracter especial.
    </div>
    <form [formGroup]="formGroup">
      <div class="mb-3 row">
        <div class="col-lg-10 p-2 mt-4">
          <span class="p-float-label">
            <input autocomplete="off" formControlName="currentPassword" id="currentPassword" pInputText
                   type="password" name="currentPassword" oncopy="return false" onpaste="return false"
                   class="col-10">
            <label for="currentPassword">Contraseña actual<strong class="text-requerid">*</strong></label>
            <span class="ui-inputgroup-addon iconInput showPass ml-1">
              <em [class]="iconCurrentPassword" style="line-height: 1.25;"
                  (click)="showPassword('currentPassword', 0)"></em>
            </span>
          </span>
        </div>
      </div>
      <div class="mb-2 row">
        <div class="col-lg-10 p-2">
          <span class="p-float-label">
            <input autocomplete="off" formControlName="newPassword" id="newPassword" pInputText
                   type="password" name="newPassword" class="col-10" oncopy="return false"
                   onpaste="return false"
                   pTooltip="{{constString.TIPS_PASSWORD}}"
                   tooltipPosition="top">
            <label for="newPassword">Nueva contraseña<strong class="text-requerid">*</strong></label>
            <span class="ui-inputgroup-addon iconInput showPass ml-1">
                  <em [class]="iconNewPassword" style="line-height: 1.25;"
                      (click)="showPassword('newPassword', 1)"></em>
              <em
                pTooltip="{{constString.TIPS_PASSWORD}}"
                tooltipPosition="top"
                (click)="showToastLarge(constString.TIPS_PASSWORD)"
                class="bi bi-info-circle-fill color-icon-fill cursor" style="line-height: 1.25;"></em>
            </span>
          </span>
          <small *ngIf="formGroup.get('newPassword').hasError('pattern')" class="text-requerid">La
            contraseña no es válida</small>
        </div>
      </div>
      <div class="mb-2 row">
        <div class="col-lg-10 p-2">
          <span class="p-float-label">
            <input autocomplete="off" formControlName="confirmPassword" id="confirmPassword" pInputText type="password"
                   name="confirmPassword" oncopy="return false" onpaste="return false" class="col-10"
                   (change)="changeErrorClassConfirmPassword()" [ngClass]="classErrorConfirmPassword"
                   pTooltip="Repite la nueva contraseña para confirmar."
                   tooltipPosition="top">
            <label for="confirmPassword">Confirmar contraseña<strong class="text-requerid">*</strong></label>
            <span class="ui-inputgroup-addon iconInput showPass ml-1">
              <em [class]="iconConfirmPassword" style="line-height: 1.25;"
                  (click)="showPassword('confirmPassword', 2)"></em>
              <em pTooltip="Repite la nueva contraseña para confirmar."
                  tooltipPosition="top" (click)="showToast('Repite la nueva contraseña para confirmar.')"
                  class="bi bi-info-circle-fill color-icon-fill cursor" style="line-height: 1.25;"></em>
            </span>
          </span>
          <small *ngIf="formGroup.get('confirmPassword').hasError('pattern')" class="text-requerid">La
            contraseña no es válida</small>
          <small *ngIf="formGroup.get('confirmPassword').hasError('NoPasswordMatch')"
                 class="error-field">La contraseña no coincide</small>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-12 p-2 footer-dialog">
        <button (click)="save()" [disabled]="!formGroup.valid" label="Actualizar" class="btn-save btn-new" pButton
                type="button"></button>
      </div>
    </div>
  </div>
</p-dialog>

