<div class="row justify-content-center">
  <div class="pr-4 pl-4">
    <div class="card card-profile shadow">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2 pt-4">
          <div class="container-img">
            <div class="file-upload-container col-12 al-center">
              <div
                [style.background-image]="'url(' +this.utilitiesConfigString.getImage(this.institution?.instPhoto) + ')'"
                class="institution-edit-photo m-auto"></div>
              <div class="ml-4 mt--5 mb-4">
                <button (click)="showToUpdatePhoto()" label="" class="btn-new-institution" icon="pi pi-paperclip"
                        pButton type="button" *ngIf="this.permissions.includes(this.constPermissions.EDIT)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row line">
            <h4 class="cl mb-0">Información de la institución</h4>
          </div>
          <div class="row pt-2">
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instName">Nombre</label>
              <input formControlName="instName" id="instName" minlength="3" maxlength="100" pInputText type="text"
                     (change)="changeErrorClassInstName()" [ngClass]="errorClassInstName">
              <small *ngIf="errors.has('inst_name')" class="error-field">{{errors.get('inst_name')}}</small>
            </div>
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instAddress">Dirección</label>
              <input formControlName="instAddress" id="instAddress" minlength="3" maxlength="100" pInputText
                     type="text">
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instHead">Rector</label>
              <input formControlName="instHead" id="instHead" minlength="3" maxlength="100" pInputText type="text">
            </div>
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instCountry">País</label>
              <input formControlName="instCountry" id="instCountry" minlength="3" maxlength="100" pInputText
                     type="text">
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instDepartment">Departamento</label>
              <input formControlName="instDepartment" id="instDepartment" minlength="3" maxlength="100" pInputText
                     type="text">
            </div>
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instMunicipality">Municipio</label>
              <input formControlName="instMunicipality" id="instMunicipality" minlength="3" maxlength="100" pInputText
                     type="text">
            </div>
          </div>
          <div class="row line">
            <h4 class="cl mb-0">Información de contacto</h4>
          </div>
          <div class="row pt-2">
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instWebsite">Página web</label>
              <input formControlName="instWebsite" id="instWebsite" minlength="3" maxlength="100" pInputText
                     placeholder="https://www.mi-sitio-web.co/" type="text">
              <small *ngIf="form.get('instWebsite').hasError('pattern')" class="text-requerid">Página
                web inválida.</small>
            </div>
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instPhone">Teléfono</label>
              <input formControlName="instPhone" id="instPhone" minlength="3" maxlength="10" pInputText type="text">
            </div>
            <div class="col-lg-6 p-2">
              <label class="form-control-label" for="instFax">Fax</label>
              <input formControlName="instFax" id="instFax" minlength="3" maxlength="10" pInputText type="text">
            </div>
          </div>
        </form>
        <div class="row" *ngIf="this.permissions.includes(this.constPermissions.EDIT)">
          <div class="col-lg-12 p-2 footer-dialog">
            <button (click)="form.enable()" *ngIf="!this.form.enabled" class="btn-new" label="Editar" pButton
                    type="button">
            </button>
            <button (click)="updateInstitution()" *ngIf="this.form.enabled" [disabled]="!form.valid" class="btn-new"
                    label="Enviar" pButton type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="updatePhoto" [blockScroll]="utilitiesConfigString.blockScroll"
          [dismissableMask]="utilitiesConfigString.dismissableMask"
          [draggable]="false" [maximizable]="false" [minY]="90"
          [modal]="utilitiesConfigString.modal"
          [styleClass]="'col-xl-5 col-lg-7 col-md-8 col-sm-11 col-11'"
          [style]="{maxWidth: '60rem'}">
  <p-header>
    <h2 class="title-dialog">Cambiar foto de perfil</h2>
  </p-header>

  <div class="pr-4 pl-4">
    <div class="row">
      <div class="file-upload-container col-12">
        <div [style.background-image]="'url(' + imgChange + ')'" class="user-edit"></div>
        <p-fileUpload #photo (onSelect)="onSelectFile($event,photo)" [auto]="false" [showCancelButton]="false"
                      [showUploadButton]="false" accept=".png,.jpg,.jpeg" chooseIcon="pi pi-paperclip"
                      chooseLabel="Subir foto" customUpload="true" mode="basic" name="fileImg"></p-fileUpload>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="col-lg-12 p-2 footer-dialog">
      <button (click)="updateUserPhoto()" [disabled]="!validFile" class="btn-new"
              label="Actualizar foto" pButton type="button"></button>
    </div>
  </p-footer>
</p-dialog>

