.p-menu.p-menu-overlay {
  left: 0 !important;
  top: 22px !important;
  border-color: transparent !important;
  width: auto;
  transform: translateX(-50%);
}

.p-menu-float > div {
  top: 940.094px !important;
  left: auto !important;
  width: 29%;
}
