.text-header-page {
  font-size: 1.8rem !important;
  font-weight: 200;
}

.al-center {
  text-align: center;
}

.back-top {
  border-radius: 3px !important;
  color: white !important;
  background-color: #03cfa7 !important;
  border-color: #03cfa600 !important;
  width: 7rem !important;
  transition: none !important;
  padding: 0.2rem 0.2rem !important;
}
