<div class="col mb-4 mx-1 px-sm-4 px-md-3 px-lg-3 px-xl-4">
  <div class="card liner">
    <div class="p-2">
      <div class="cursor col-12 p-0">
        <ngx-skeleton animate="true" class="text-sm font-weight-bold cursor" height="1rem" variant="rect"
                      width="12rem"></ngx-skeleton>
      </div>
      <div class="col-12 p-0">
        <ngx-skeleton animate="true" class="text-sm font-weight-bold cursor" height="1rem" variant="rect"
                      width="12rem"></ngx-skeleton>
      </div>
      <div class="col-12 p-0">
        <ngx-skeleton animate="true" class="text-sm font-weight-bold cursor" height="1rem" variant="rect"
                      width="12rem"></ngx-skeleton>
      </div>
      <div class="col-12 p-0 mt-3">
        <ngx-skeleton animate="true" class="btn btn-join text-sm font-weight-bold cursor" height="1rem" variant="rect"
                      width="12rem"></ngx-skeleton>
      </div>
    </div>
  </div>
</div>
