<div class="row justify-content-center">
  <div class="col-12 order-xl-2">
    <div class="card card-profile mb-4 shadow">
      <div class="card-body px-3 pb-0">
        <div class="row pb-2">
          <div class="pl-2 pr-0 media align-items-center">
            <div class="skeleton-round"></div>
          </div>
          <div class="col pl-0 media-body ml-2 d-lg-block">
            <div class="skeleton-right-angled mb-1"></div>
            <div class="col-12 p-0">
              <div class="skeleton-right-small"></div>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <div class="skeleton-right mb-1"></div>
            <div class="skeleton-right mb-1"></div>
            <div class="skeleton-right mb-1"></div>
            <div class="skeleton-right mb-1"></div>
            <div class="skeleton-right-angled mb-2"></div>
          </div>
        </div>
        <div class="row mt-2 py-4 px-2 line-top">
          <div class="col p-0 mr-3">
            <div class="skeleton-button-small pr-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
