<div class="card  shadow mt-4">
  <div class="card-body pt-0 pt-md-3 pb-md-0">
    <div class="row pb-3">
      <div class="col-1 pr-0 media align-items-center">
        <div class="skeleton-round"></div>
      </div>
      <div class="col pl-0 media-body ml-2 d-lg-block">
        <div class="skeleton-right-angled mb-1"></div>
        <div class="col-12 p-0">
          <div class="skeleton-right-small"></div>
        </div>
      </div>
      <div class="col-2 al-center p-0 d-lg-block">
        <div class="skeleton-button-small pr-2"></div>
      </div>
    </div>
  </div>
</div>
