<!DOCTYPE html>
<html lang="en">

<head>
    <title>Invitación de rol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

<div style="background: #3ce7c6;width: 100%;height: 100px;margin: 0;padding: 0;">
    <table class="main_wrapper"
           style="margin-right: auto; margin-left: auto;border-collapse: collapse; border-spacing: 0;">
        <caption></caption>
        <tbody>
        <tr>
            <th id="tabla 1" style="padding: 0;"></th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="text-align:center;background: #3ce7c6;width: 955px;
                border-collapse: separate; border-spacing: 0;">
                    <caption></caption>
                    <tbody style="text-align:center">
                    <tr>
                        <th id="tabla 1" style="padding: 0;"></th>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:100%;padding: 0;">
                            <table style="width: 630px;
                                        height: 100%;
                                        background-color: #ffffff;
                                        background-image: none;
                                        background-repeat: repeat;
                                        background-position: top left;
                                        background-attachment: scroll;
                                        padding: 34px 34px 0;
                                        margin-top: 61px;
                                        margin-right: auto; margin-left: auto;">
                                <caption></caption>
                                <tr>
                                    <th id="tabla 1"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="background-color: #f9f9f9;margin: 0;padding: 0;">
    <table class="main_wrapper"
           style="margin-right: auto; margin-left: auto; border-collapse: separate; border-spacing: 0;">
        <caption></caption>
        <tbody>
        <tr>
            <th id="tabla 1" style="padding: 0;"></th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background: #f9f9f9;width: 955px;padding-bottom:2%;border-collapse: collapse;
                border-spacing: 0;">
                    <caption></caption>
                    <tbody style="text-align:center">
                    <tr>
                        <th id="tabla 1" style="padding: 0;"></th>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:100%;padding: 0;">
                            <table style="width: 630px;
                                            height: 100%;
                                            background-color: #ffffff;
                                            background-image: none;
                                            background-repeat: repeat;
                                            background-position: top left;
                                            background-attachment: scroll;
                                            padding: 4px 64px 0;
                                            margin-left: auto;
                                            margin-right: auto;">
                                <caption></caption>
                                <tr>
                                    <th id="tabla 1"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <img src="https://studentsprojects.cloud.ufps.edu.co/asn_balancing/api_gateway/asn_file/files/api/file/get_object/3c9cdf6f-93b2-4872-8ca3-21d58b3fbea1/"
                                                 style="width:41%;display:block;margin-left:auto;margin-right:auto;"
                                                 alt="Logo Joinus">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-family: Quicksand,fantasy;
                                                        color: #414141;
                                                        font-style: normal;
                                                        text-align: inherit;
                                                        margin-top: 31px;
                                                        margin-bottom: 0;
                                                        font-weight: 700;
                                                        font-size: 22px;
                                                        padding-top: 21px;
                                                        border-top: 1px solid #d9d9d9;">¡Se te ha extendido la
                                            invitación a tener otro rol!</p>
                                        <p style="font-family: Quicksand,fantasy;
                                                color: #414141;
                                                font-weight: normal;
                                                font-style: normal;
                                                font-size: 16px;
                                                text-align: inherit;
                                                margin-top: 20px;
                                                margin-bottom: 0;">Un gran poder conlleva una gran responsabilidad,
                                            espero que sepas darle el mejor uso a ese nuevo rol que se te ha
                                            conferido. En el siguiente enlace podrás iniciar sesión, posteriormente
                                            ir a la sesión para cambiar de rol, en la lista veras el nuevo rol asignado.
                                        </p>
                                        <p style="font-family: Quicksand,fantasy;
                                                color: #414141;
                                                font-weight: normal;
                                                font-style: normal;
                                                font-size: 16px;
                                                text-align: inherit;
                                                margin-top: 20px;
                                                margin-bottom: 0;">El o los roles asignados son:
                                            {% if role is not None %}
                                            <strong>{{ role.role_name }}</strong>
                                            {% else %}
                                            <strong>{{ role_name }}</strong>
                                            {% endif %}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <img src="https://studentsprojects.cloud.ufps.edu.co/asn_balancing/api_gateway/asn_file/files/api/file/get_object/2f991308-54f4-47b0-b16c-0cbc14ca3df1/"
                                                 style="width: 32%;display: block;margin: 5px auto;"
                                                 alt="Imagen de ajustes (engranajes)">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="display: flex;justify-content: center;">
                                        {% load strings_invite_role %}
                                        <a href="{{ 'http' | get_url_invite_take_role }}"
                                           style="font-family: Quicksand,fantasy;
                                                    font-size: 16px;
                                                    background: #3ce7c6;
                                                    color: white;
                                                    border-radius: 4px;
                                                    padding: 12px 28px;
                                                    margin-bottom: 37px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    cursor: pointer;
                                                    text-decoration:none;">Ingresar</a>
                                    </td>
                                </tr>
                            </table>
                            <table style="width: 630px;
                                                            height: 100%;
                                                            background-color: #3e434a;
                                                            background-image: none;
                                                            background-repeat: repeat;
                                                            background-position: top left;
                                                            background-attachment: scroll;
                                                            padding: 7px 64px 0;
                                                            table-layout: fixed;
                                                            margin-left: auto;
                                            margin-right: auto;">
                                <caption></caption>
                                <tbody>
                                <tr>
                                    <th id="tabla 1"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-family: Quicksand,fantasy;
                                                        color: #ffffff;
                                                        font-weight: normal;
                                                        font-style: normal;
                                                        font-size: 16px;
                                                        text-align: center;">
                                            Si has recibido este correo por error o equivocación no
                                            realices ninguna acción y en tal caso, por favor notifica de
                                            forma inmediata al remitente.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>