<div class="content-img-sm m-block"
     [style.background-image]="'url(./assets/img/brand/davinci-white-black-404.png)'"></div>
<div class="content-text">
  <div class="row justify-content-center mt-5">
    <h1 class="text-header-page al-center">El artista solo ve lo que otros solo intuyen.</h1>
  </div>
  <div class="row justify-content-center">
    <h2 class="text-xl">¿Que intuyes tu de esta página?</h2>
  </div>
  <div class="row justify-content-center">
    <h2 class="al-center">Aquí va un dato curioso: Leonardo da Vinci no tenía un apellido real...Vinci fue su lugar de
      nacimiento: Leonardo de Vinci</h2>
  </div>
  <div class="row justify-content-center">
    <h3>Pdst: Estas perdido...</h3>
  </div>
  <div class="row justify-content-center mt-5">
    <h1 class="text-xl al-center">{{this.constString.OBJECT_NOT_FOUND}}</h1>
  </div>
  <div class="row justify-content-center">
    <button class="back-top" [routerLink]="''" routerLinkActive="active">Volver a inicio</button>
  </div>
</div>
<div class="content-img-page" [style.background-image]="'url(./assets/img/brand/davinci-big-404.jpg)'"></div>
<div class="content-page">
</div>
