<p-dialog [(visible)]="display" [blockScroll]="true" [dismissableMask]="true"
          [draggable]="false" [maximizable]="false" [minY]="70"
          [modal]="true" [styleClass]="'col-xl-5 col-lg-7 col-md-8 col-sm-12 col-11 '"
          [style]="{maxWidth: '60rem'}">
  <p-header>
    <h2 class="title-dialog">Asignación de roles</h2>
  </p-header>
  <div class="pr-4 pl-4">
    <form [formGroup]="form">
      <div class="row justify-content-center pb-2">
        <div class="img-user img-profile">
          <div [style.background-image]="'url('+ this.utilitiesString.getImage(this.user?.userPhoto, 'perfil') +')'"
               class="img img-user-public">
          </div>
        </div>
      </div>
      <div class="row line ">
        <h4 class="cl mb-0 form-control-label">Información importante</h4>
      </div>
      <div class="row">
        <div class="col-lg-12 p-2">
          <p>En esta sección puedes asignar o revocar roles, tambien puedes convertir al usuario en permanente dentro de
            la red.</p>
        </div>
      </div>
      <div class="row line">
        <h4 class="cl mb-0">Información de usuario</h4>
      </div>
      <div class="row pt-2">
        <div class="col-lg-6 p-2">
          <label class="form-control-label" for="userName">Nombre</label>
          <input formControlName="userName" id="userName" pInputText type="text">
        </div>
        <div class="col-lg-6 p-2">
          <label class="form-control-label" for="userEmail">Correo</label>
          <input type="text" pInputText formControlName="userEmail" id="userEmail" maxlength="50"
                 (input)="utilitiesString.convertOnlyTextEmail($event, form?.get('userEmail'));">
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-6 p-2">
          <label class="form-control-label" for="userPhone">Teléfono</label>
          <input formControlName="userPhone" id="userPhone" maxlength="10" minlength="8" pInputText type="text"
                 (input)="utilitiesString.convertOnlyNumber($event);">
        </div>
        <div class="col-lg-6 p-2">
          <label class="form-control-label" for="userDegree">Carrera universitaria</label>
          <input formControlName="userDegree" id="userDegree" pInputText type="text">
        </div>
      </div>
      <div class="row line">
        <h4 class="cl mb-0 text-blod">Selecciona los roles que vas asignar o remueve aquellos a revocar</h4>
      </div>
      <div class="row pt-2">
        <div class="col-lg-6 p-2">
          <label class="form-control-label" for="roleName">Roles</label>
          <p-multiSelect [options]="roles" defaultLabel="Seleccione un rol" appendTo="body"
                         formControlName="userRole" id="roleName" optionLabel="roleName">
          </p-multiSelect>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col p-2 field-checkbox">
          <label class="text-blod mb-0 pr-2" pTooltip="">Convertir en usuario permanente de la red</label>
          <p-checkbox (click)="showExplainUserAdmin()" [(ngModel)]="checkedUserAdmin" binary="true"
                      [ngModelOptions]="{standalone: true}"
                      inputId="binary"></p-checkbox>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="col-lg-12 p-2 footer-dialog">
      <button (click)="processUpdateRoles()" [disabled]="!form.valid || buttonActioned"
              label="Asignar rol(es)"
              pButton class="btn-new" type="button"></button>
      <p-progressSpinner [hidden]="!buttonActioned"
                         [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayDialog" [modal]="true"
          [draggable]="false" [resizable]="false" [styleClass]="'col-xl-5 col-lg-7 col-md-8 col-sm-12 col-11'"
          [style]="{maxWidth: '60rem'}" [closable]="false">
  <ng-template pTemplate="header">
    Usuarios permanentes
  </ng-template>
  Si activas esta opción, este usuario no se podra dar de baja en la red y sera permanente.
  <ng-template pTemplate="footer">
    <button (click)="showExplainUserAdmin()" type="button" class="btn-new" label="Entendido" pButton autofocus></button>
  </ng-template>
</p-dialog>
