
.file-upload-container, .file-upload-container-info ,.disabled>div {
  --border-photos-disabled: #a7a7a7;
  border-color: var(--border-photos-disabled) !important;
}


.user-edit {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  --border-photos: #ED6E27;
  border: 4px solid var(--border-photos) !important;
  position: relative;
  left: -14px;
  border-radius: 2%;
}
