<div class="row justify-content-center mt-3">
  <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 order-xl-2">
    <div class="card card-profile shadow col-12">
      <div class="row justify-content-center">
        <div class="navbar-brand pt-0 content-img-login">
          <img alt="..." class="login-about-us" src="./assets/img/brand/joinus-text.svg"/>
        </div>
        <div class="card card-profile shadow mt-1">
          <div class="login-splash">
            <div [routerLink]="['/']" class="row cursor ml-1">
              <button
                class="btn-prev shadow"
                icon="pi pi-angle-double-left" pButton type="button"></button>
              <h4 class="m-auto">Regresar</h4>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4 pb-0 mt-3">
            <div class="row px-3">
              <div class="col-10 row align-items-center m-0 p-0">
                <h1 class="justifyText mb-2 text-header">¿Que es Joinus?</h1>
              </div>
              <p class="keep-format-text"> Como todo gran viaje, inicia como una idea, sin embargo, en realidad todo
                Joinus es una idea, es la idea de que la Universidad Francisco de Paula Santander (UFPS), mejore sus
                índices de trabajo colaborativo, promovido la unión y bienestar entre todos sus integrantes, optimizando
                la adquisición de pensamientos integrados que contribuyen a forjar competencias profesionales e
                intelectuales entre sus alumnos, docentes y demás funcionarios. Joinus es una plataforma que nace en
                el contexto de proyecto para opción de grado, de la carrera ingeniería de sistemas. Nace en el semillero
                de investigación Silux, con las ideologías Open Source, original y trabajo colaborativo que se propaga
                en el mismo. De la misma manera hace parte del grupo de investigación GIDIS, de la universidad.
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-5 col-md-5 order-xl-5 mr-5">
            <div class="row">
              <div class="card card-profile shadow">
                <div class="card-body p-md-3 line">
                  <div class="row justify-content-center">
                    <div class="col-lg-12 order-lg-2 pt-2">
                      <div class="img-user img-profile">
                        <div [style.background-image]="'url('+
            utilitiesConfigString.getImage('a5dded9b-d94b-49e9-8ad3-55bb2280cbe2', 'perfil') +')'"
                             class="img img-user-public">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center pt-3 pb-0">
                    <h1 class="mb-2">Paola Pájaro</h1>
                    <h3 class="cl mb-0">Te vas a morir. ¿Que harás ahora?</h3>
                  </div>
                </div>
                <div class="card-body p-md-3">
                  <h3 class="cl mb-1">Ingeniera de sistemas, apasionada por las soluciones diferentes que aporten
                    cambios significativos a la forma en como se usan los recursos de la tierra y como lo humanos
                    actuan con los recursos que tienen disponibles.</h3>
                  <br>
                  <div class="al-center">
                    <a href="mailto:yindypaolapu@ufps.edu.co" rel="noopener" target="_blank" class="social-media-icons"><em
                      class="bi bi-envelope-fill"></em></a>
                    <a href="https://www.instagram.com/birdpaola/" rel="noopener" target="_blank"
                       class="social-media-icons"><em
                      class="bi bi-instagram"></em></a>
                    <a href="https://github.com/PaolaBird" rel="noopener" target="_blank" class="social-media-icons"><em
                      class="bi bi-github"></em></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 order-xl-5">
            <div class="row">
              <div class="card card-profile shadow">
                <div class="card-body p-md-3 line">
                  <div class="row justify-content-center">
                    <div class="col-lg-12 order-lg-2 pt-2">
                      <div class="img-user img-profile">
                        <div [style.background-image]="'url('+
            utilitiesConfigString.getImage('bdb5ee27-fc89-44a7-94c0-1139d9ab9acb', 'perfil') +')'"
                             class="img img-user-public">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center pt-3 pb-0">
                    <h1 class="mb-2">Fernando Romero</h1>
                    <h3 class="cl mb-0">Si vivimos solo un instante, hagamos algo increíble</h3>
                  </div>
                </div>
                <div class="card-body p-md-3">
                  <h3 class="cl mb-1">Ingeniero de sistemas, apasionado por el desarrollo de software, dispuesto a
                    crear algo grandioso y dejar una huella en la historia.</h3>
                  <br>
                  <div class="al-center">
                    <a href="mailto:juanfernandoro@ufps.edu.co" rel="noopener" target="_blank"
                       class="social-media-icons">
                      <em class="bi bi-envelope-fill"></em></a>
                    <a href="https://instagram.com/fernanxd_17?utm_medium=copy_link" rel="noopener"
                       class="social-media-icons"><em
                      class="bi bi-instagram"></em></a>
                    <a href="https://github.com/devfercho" rel="noopener" target="_blank" class="social-media-icons"><em
                      class="bi bi-github"></em></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
