<p-dialog [(visible)]="communityDialogDisplay" [blockScroll]="true"
          [dismissableMask]="true" [draggable]="false" [maximizable]="false"
          [minY]="70" [modal]="true"
          [styleClass]="'col-sm-11 col-md-8 col-lg-5 col-xl-5 col-11'"
          [style]="{ maxWidth: '60rem' }">
  <p-header>
    <h2 *ngIf="!this.showEditBtn" class="title-dialog">Crear nueva comunidad</h2>
    <h2 *ngIf="this.showEditBtn" class="title-dialog">Editar comunidad</h2>
  </p-header>

  <form [formGroup]="form" class="pr-4 pl-4">
    <div class="row">
      <div class="col-12 px-0 mb-2">
        <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <div
                  [style.background-image]="'url('+ this.utilitiesConfigString.getImage(this.userSession?.userPhoto, 'perfil') +')'"
                  class="img img-user-public"></div>
              </span>
          <div class="media-body ml-2 ">
            <span class="mb-1 text-sm font-weight-bold">{{this.userSession?.userName}}</span>
            <div class="mt-2 dropdown-privacy col-xl-6 col-lg-6 col-md-6 p-0">
                <span class="p-float-label">
                  <p-dropdown [autoDisplayFirst]="false" [options]="optionsPrivacy" class="p-dropdown-statu privacy"
                              formControlName="commPrivacy" id="commPrivacy" optionLabel="name">
                </p-dropdown>
                  <label for="commPrivacy">Acceso a tu comunidad <strong class="text-requerid">*</strong></label>
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 col-lg-12 p-2">
          <span class="p-float-label">
            <p-dropdown [autoDisplayFirst]="false" [options]="categoriesOptions" formControlName="commCategory"
                        id="commCategory" optionLabel="cateName"></p-dropdown>
            <label for="commCategory">Tipo de comunidad <strong class="text-requerid">*</strong></label>
          </span>
      </div>
      <div class="col-lg-12 p-2">
          <span class="p-float-label">
          <input (input)="this.utilitiesConfigString.convertOnlyTextNumber($event);" formControlName="commName"
                 id="commName"
                 maxlength="100" pInputText size="100" type="text">
            <label for="commName">Nombre de tu comunidad <strong class="text-requerid">*</strong></label>
            <small *ngIf="form?.get('commName').hasError('pattern')"
                   class="text-requerid">El nombre no es valido.</small>
          </span>
      </div>
      <div class="col-lg-12 p-2">
        <span class="p-float-label">
        <textarea class="p-float-label ui-inputtext" cols="40" formControlName="commDescription" id="commDescription"
                  rows="5" type="text" pInputTextarea></textarea>
          <label for="commDescription">Descripción breve de tu comunidad</label>
          </span>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-12 p-2 footer-dialog">
      <button (click)="createOrEditCommunity()" [disabled]="!form.valid || buttonCreateCommunityActioned"
              [label]="community ? 'Editar comunidad' : 'Crear comunidad'" class="btn-new" pButton type="button">
        <p-progressSpinner [hidden]="!buttonCreateCommunityActioned"
                           [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
      </button>
    </div>
  </div>

</p-dialog>
