<div class="container-input-login container-logo-joinus">
  <div class="card col-12 shadow">
    <div class="card-content">
      <div *ngIf="!isSent">
        <div class="login-splash">
          <button pButton type="button" class="btn-prev shadow" icon="pi pi-angle-double-left"
                  (click)="showLogin()"></button>
        </div>
        <div class="bg-transparent pt-4">
          <div class="col-lg-12 col-md-12 text-center">
            <div class="navbar-brand pt-0 content-img-login">
              <img src="./assets/img/brand/ufps-horizontal-logo.jpg" class="login-img" alt="...">
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form role="form" [formGroup]="formGroup">
              <div class="form-group mb-4">
                <h3 class="text-left">Ingresa el correo institucional con el que te registraste para recuperar tu
                  contraseña:</h3>
              </div>
              <div class="form-group mb-4">
                  <span class="p-float-label">
                    <input autocomplete="off" id="emailToSend" pInputText type="email" formControlName="userEmail">
                    <label for="emailToSend">Correo institucional<strong class="text-requerid">*</strong></label>
                    <small *ngIf="formGroup.get('userEmail').hasError('pattern')"
                           class="text-requerid">Correo electrónico no válido, debe ser del dominio
                            <strong>@ufps.edu.co</strong>.</small>
                  </span>
                </div>
              <div class="text-center">
                <button type="button" (click)="recoverPassword()" class="btn btn-red btn-login mat-typography"
                        [disabled]="!formGroup.valid || buttonRecoveryPasswordHeldDown">
                  Recuperar contraseña
                  <p-progressSpinner [hidden]="!buttonRecoveryPasswordHeldDown"
                                     [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
                </button>
              </div>
              <app-footer></app-footer>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="isSent">
        <div class="bg-transparent">
          <div class="col-lg-12 col-md-12 text-center">
            <div class="navbar-brand pt-0 content-img-login">
              <img src="./assets/img/brand/ufps-horizontal-logo.jpg" class="login-img" alt="...">
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="form-group mb-4">
              <p class="text-center">Se ha enviado un código de confirmación al
                correo {{this.formGroup.get('userEmail').value}}.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
