<div class="row">
  <div class="col-12 justify-content-center">
    <div class="card mt-4">
      <div class="card-body pt-0 pt-md-3 pb-md-0">
        <div class="row pb-3">
          <div class="pr-0 media align-items-center">
            <div class="skeleton-round"></div>
          </div>
          <div class="col pl-0 media-body ml-2 d-lg-block">
            <div class="skeleton-right-angled-notification mb-1"></div>
            <div class="col-12 p-0">
              <div class="skeleton-right-small-notification"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
